data_inputs/**/*.gpkg filter=lfs diff=lfs merge=lfs -text
data_inputs/**/*.zip filter=lfs diff=lfs merge=lfs -text
data_inputs/**/*.shp filter=lfs diff=lfs merge=lfs -text
data_inputs/**/*.shx filter=lfs diff=lfs merge=lfs -text
data_inputs/**/*.dbf filter=lfs diff=lfs merge=lfs -text
data_inputs/**/*.parquet filter=lfs diff=lfs merge=lfs -text
data_inputs/**/*.pbf filter=lfs diff=lfs merge=lfs -text
MBTA_GTFS/**/*.zip filter=lfs diff=lfs merge=lfs -text
MBTA_GTFS/**/* filter=lfs diff=lfs merge=lfs -text
